/*
    countdown.css
    No.001A
    First version: 2025-04-01
*/

/* Google Fonts インポート */
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

/* 基本設定 */
body {
    margin: 0;
    padding: 0;
    background-color: #000000; /* 黒背景 */
    color: #ffffff;            /* 白文字 */
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* container1 と container3 */
.container1, .container3 {
    font-size: 4vw;
    color: #daf6ff;
    text-shadow: 0 0 20px #0aafe6;
    margin: 2vh 0;
}

/* カウント表示部 */
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #15151e;
    height: 60vh;
}

/* 数字部分 */
.counter p {
    font-size: 10vw;
    color: #daf6ff;
    text-shadow: 0 0 20px #0aafe6;
    margin: 0;
}

/* d0, h1, h2, m1, m2, s1, s2, s3 個別スタイル */
.d0, .h1, .h2, .m1, .m2, .s1, .s2 {
    margin: 0 0.2em;
}

.ud , .uh, .um, .ux, .us {
    font-size: 0.5em;
}

/* 小さくしたい場合 */
.s3 {
    font-size: 0.5em;
    vertical-align: super;
}

/* レスポンシブ対応（横向き用） */
/*
@media screen and (max-height: 600px) and (orientation: landscape) {
    .container1, .container3 {
        font-size: 3vw;
    }

    .counter p {
        font-size: 7vw;
    }
}
*/